{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-3" style="width: 90%; font-size: 15px;"></div>
{% if messages %}
{% for message in messages %}
  <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags}}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}
<form method="post" class="card p-3 mt-3" autocomplete="off" novalidate enctype="multipart/form-data">
{% csrf_token %}

<div class="card shadow-sm p-3 my-2 text-center border-secondary">
Frontend: FR-22 &nbsp;|&nbsp; Backend: BE-36 &nbsp;|&nbsp; Fullstack: FU-69
</div>

<!-- {{form|crispy}} -->
<div class="row">
  <div class="col-4">
    {{ form.firstname|as_crispy_field }}
  </div>
  <div class="col-4">
    {{ form.lastname|as_crispy_field }}
  </div>
  <div class="col-4">
    {{ form.job|as_crispy_field }}
  </div>
</div>

<div class="row">
  <div class="col-4">
    {{ form.email|as_crispy_field }}
  </div>
  <div class="col-4">
    {{ form.age|as_crispy_field }}
  </div>
  <div class="col-4">
    {{ form.phone|as_crispy_field }}
  </div>
</div>
<div class="row">
  <div class="col-6">
    {{form.salary|as_crispy_field}}
  </div>
  <div class="col-6">
    {{form.gender|as_crispy_field}}
  </div>
</div>
<hr>
{{ form.experience|as_crispy_field }}
<hr>
{{ form.message|as_crispy_field }}
{{ form.file|as_crispy_field }}
{{ form.photo|as_crispy_field }}

<br>
<button type="submit" class=" btn btn-secondary mt-3" style="width: 150px;">Submit</button>
</form>
</div>
{% endblock %}